
<form [formGroup]="myReactiveForm" (submit)="onSubmit()">
<h3 class="first">User Registration Form</h3>

    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
      <input type="text" pInputText placeholder="Username" formControlName="userName">
    </div>
  <app-validation-message controlName="userName"> </app-validation-message>

    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon">@</span>
      <input type="text" pInputText placeholder="Email" formControlName="userEmail">
    </div>
  <app-validation-message controlName="userEmail"> </app-validation-message>

    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
      <input type="password" pInputText pPassword [weakLabel]="weakPasswordText" formControlName="userPassword"/>
    </div>
  <app-validation-message controlName="userPassword"> </app-validation-message>

<button type="submit" class="btn btn-info">Register</button>
</form>

